[project]
	description = Automatically exported from code.google.com/p/itmtogpx
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dragonken
[access "refs/for/refs/*"]
	read = group user/dragonken
	push = group user/dragonken
	label-Code-Review = -2..+2 group user/dragonken
	label-Verified = -1..+1 group user/dragonken
	rebase = group user/dragonken
	removeReviewer = group user/dragonken
	submit = group user/dragonken
[access "refs/heads/*"]
	read = group user/dragonken
	create = group user/dragonken
	push = +force group user/dragonken
	pushMerge = group user/dragonken
[access "refs/tags/*"]
	push = +force group user/dragonken
	pushTag = group user/dragonken
	pushSignedTag = group user/dragonken
